openapi: 3.1.0
info:
  title: Mailagents Admin API V2
  version: 0.1.0-alpha
  summary: Proposed V2 admin API for the Mailagents control plane
  description: |
    This document defines the proposed V2 admin API aligned with the Mailagents
    V2 architecture. It is designed around read models, queue-aware workflows,
    mailbox account and lease separation, and auditable send and message pipelines.

servers:
  - url: https://api.mailagents.net

security:
  - bearerAuth: []

tags:
  - name: Overview
  - name: Settings
  - name: Tenants
  - name: Mailbox Accounts
  - name: Mailbox Leases
  - name: Messages
  - name: Send Attempts
  - name: Webhooks
  - name: Billing
  - name: Risk
  - name: Audit
  - name: Jobs

paths:
  /v2/admin/overview/metrics:
    get:
      tags: [Overview]
      summary: Get admin overview metrics
      responses:
        '200':
          description: Metrics returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewMetrics'

  /v2/admin/overview/timeseries:
    get:
      tags: [Overview]
      summary: Get admin overview time series
      parameters:
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - in: query
          name: bucket
          schema:
            type: string
            enum: [minute, hour, day]
            default: hour
      responses:
        '200':
          description: Time series returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeseriesResponse'

  /v2/admin/settings/runtime:
    get:
      tags: [Settings]
      summary: Get runtime settings
      responses:
        '200':
          description: Runtime settings returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeSettings'
    patch:
      tags: [Settings]
      summary: Update runtime settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuntimeSettingsPatch'
      responses:
        '200':
          description: Runtime settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeSettings'

  /v2/admin/tenants:
    get:
      tags: [Tenants]
      summary: List tenants
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: status
          schema:
            type: string
            enum: [active, suspended, archived]
      responses:
        '200':
          description: Tenants returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResponse'

  /v2/admin/tenants/{tenant_id}:
    get:
      tags: [Tenants]
      summary: Get tenant detail
      parameters:
        - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Tenant returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetail'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Tenants]
      summary: Update tenant status and quotas
      parameters:
        - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantPatch'
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /v2/admin/mailboxes/accounts:
    get:
      tags: [Mailbox Accounts]
      summary: List mailbox accounts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: backend_status
          schema:
            type: string
            enum: [provisioning, active, disabled, error]
        - in: query
          name: tenant_id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mailbox accounts returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMailboxAccountListResponse'

  /v2/admin/mailboxes/accounts/{account_id}:
    get:
      tags: [Mailbox Accounts]
      summary: Get mailbox account detail
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Mailbox account returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMailboxAccountDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /v2/admin/mailboxes/accounts/{account_id}/disable:
    post:
      tags: [Mailbox Accounts]
      summary: Disable a mailbox account
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '202':
          description: Disable accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/mailboxes/accounts/{account_id}/reconcile:
    post:
      tags: [Mailbox Accounts]
      summary: Trigger mailbox account reconciliation
      parameters:
        - $ref: '#/components/parameters/AccountId'
      responses:
        '202':
          description: Reconcile accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/mailboxes/leases:
    get:
      tags: [Mailbox Leases]
      summary: List mailbox leases
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: lease_status
          schema:
            type: string
            enum: [pending, active, releasing, released, expired, frozen]
        - in: query
          name: tenant_id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mailbox leases returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailboxLeaseListResponse'

  /v2/admin/mailboxes/leases/{lease_id}/release:
    post:
      tags: [Mailbox Leases]
      summary: Force release a mailbox lease
      parameters:
        - $ref: '#/components/parameters/LeaseId'
      responses:
        '202':
          description: Force release accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/mailboxes/leases/{lease_id}/freeze:
    post:
      tags: [Mailbox Leases]
      summary: Freeze a mailbox lease
      parameters:
        - $ref: '#/components/parameters/LeaseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Lease frozen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MailboxLease'

  /v2/admin/messages:
    get:
      tags: [Messages]
      summary: List messages
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: mailbox_account_id
          schema:
            type: string
            format: uuid
        - in: query
          name: parse_status
          schema:
            type: string
            enum: [parsed, failed, partial]
      responses:
        '200':
          description: Messages returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMessageListResponse'

  /v2/admin/messages/{message_id}:
    get:
      tags: [Messages]
      summary: Get message detail
      parameters:
        - $ref: '#/components/parameters/MessageId'
      responses:
        '200':
          description: Message returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMessageDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /v2/admin/messages/{message_id}/reparse:
    post:
      tags: [Messages]
      summary: Trigger message reparse
      parameters:
        - $ref: '#/components/parameters/MessageId'
      responses:
        '202':
          description: Reparse accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/messages/{message_id}/replay-webhooks:
    post:
      tags: [Messages]
      summary: Replay webhooks for a message
      parameters:
        - $ref: '#/components/parameters/MessageId'
      responses:
        '202':
          description: Replay accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/send-attempts:
    get:
      tags: [Send Attempts]
      summary: List send attempts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: submission_status
          schema:
            type: string
            enum: [queued, submitting, accepted, failed]
        - in: query
          name: tenant_id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Send attempts returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendAttemptListResponse'

  /v2/admin/send-attempts/{send_attempt_id}:
    get:
      tags: [Send Attempts]
      summary: Get send attempt detail
      parameters:
        - $ref: '#/components/parameters/SendAttemptId'
      responses:
        '200':
          description: Send attempt returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendAttemptDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /v2/admin/send-attempts/{send_attempt_id}/retry:
    post:
      tags: [Send Attempts]
      summary: Retry a failed or stuck send attempt
      parameters:
        - $ref: '#/components/parameters/SendAttemptId'
      responses:
        '202':
          description: Retry accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Webhooks returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookListResponse'

  /v2/admin/webhooks/{webhook_id}/deliveries:
    get:
      tags: [Webhooks]
      summary: List webhook deliveries
      parameters:
        - $ref: '#/components/parameters/WebhookId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Webhook deliveries returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryListResponse'

  /v2/admin/webhooks/{webhook_id}/replay:
    post:
      tags: [Webhooks]
      summary: Replay webhook deliveries over a time range
      parameters:
        - $ref: '#/components/parameters/WebhookId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
      responses:
        '202':
          description: Replay accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobAccepted'

  /v2/admin/billing/invoices:
    get:
      tags: [Billing]
      summary: List invoices
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: period
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
      responses:
        '200':
          description: Invoices returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceListResponse'

  /v2/admin/billing/invoices/{invoice_id}/issue:
    post:
      tags: [Billing]
      summary: Issue an invoice
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: Invoice issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /v2/admin/risk/events:
    get:
      tags: [Risk]
      summary: List risk events
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Risk events returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskEventListResponse'

  /v2/admin/risk/policies:
    post:
      tags: [Risk]
      summary: Upsert a risk policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskPolicyUpsert'
      responses:
        '200':
          description: Risk policy saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskPolicy'

  /v2/admin/audit/logs:
    get:
      tags: [Audit]
      summary: List audit logs
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: tenant_id
          schema:
            type: string
            format: uuid
        - in: query
          name: actor_did
          schema:
            type: string
        - in: query
          name: request_id
          schema:
            type: string
      responses:
        '200':
          description: Audit logs returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogListResponse'

  /v2/admin/jobs:
    get:
      tags: [Jobs]
      summary: List job queue state
      parameters:
        - in: query
          name: queue
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
            enum: [waiting, active, completed, failed, delayed]
      responses:
        '200':
          description: Job queue state returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      in: query
      name: page_size
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20
    From:
      in: query
      name: from
      schema:
        type: string
        format: date-time
    To:
      in: query
      name: to
      schema:
        type: string
        format: date-time
    TenantId:
      in: path
      name: tenant_id
      required: true
      schema:
        type: string
        format: uuid
    AccountId:
      in: path
      name: account_id
      required: true
      schema:
        type: string
        format: uuid
    LeaseId:
      in: path
      name: lease_id
      required: true
      schema:
        type: string
        format: uuid
    MessageId:
      in: path
      name: message_id
      required: true
      schema:
        type: string
        format: uuid
    SendAttemptId:
      in: path
      name: send_attempt_id
      required: true
      schema:
        type: string
        format: uuid
    WebhookId:
      in: path
      name: webhook_id
      required: true
      schema:
        type: string
        format: uuid
    InvoiceId:
      in: path
      name: invoice_id
      required: true
      schema:
        type: string
        format: uuid

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        request_id:
          type: string

    OverviewMetrics:
      type: object
      properties:
        tenants_total:
          type: integer
        mailbox_accounts_total:
          type: integer
        mailbox_leases_active:
          type: integer
        messages_24h:
          type: integer
        send_attempts_24h:
          type: integer
        webhook_failures_24h:
          type: integer
        jobs_failed:
          type: integer

    TimeseriesPoint:
      type: object
      properties:
        ts:
          type: string
          format: date-time
        value:
          type: number

    TimeseriesResponse:
      type: object
      properties:
        points:
          type: array
          items:
            $ref: '#/components/schemas/TimeseriesPoint'

    RuntimeSettings:
      type: object
      properties:
        overage_charge_usdc:
          type: number
        agent_allocate_hourly_limit:
          type: integer
        webhook_timeout_ms:
          type: integer
        webhook_retry_attempts:
          type: integer
        queue_default_retry_attempts:
          type: integer

    RuntimeSettingsPatch:
      type: object
      additionalProperties: false
      properties:
        overage_charge_usdc:
          type: number
        agent_allocate_hourly_limit:
          type: integer
        webhook_timeout_ms:
          type: integer
        webhook_retry_attempts:
          type: integer
        queue_default_retry_attempts:
          type: integer

    Tenant:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
        qps:
          type: integer
        mailbox_limit:
          type: integer
        created_at:
          type: string
          format: date-time

    TenantDetail:
      allOf:
        - $ref: '#/components/schemas/Tenant'
        - type: object
          properties:
            agents:
              type: integer
            active_mailbox_leases:
              type: integer
            usage_30d:
              type: number

    TenantPatch:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
          enum: [active, suspended, archived]
        qps:
          type: integer
        mailbox_limit:
          type: integer

    TenantListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    MailboxLease:
      type: object
      properties:
        lease_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        mailbox_account_id:
          type: string
          format: uuid
        address:
          type: string
        lease_status:
          type: string
        purpose:
          type: string
        started_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        released_at:
          type: string
          format: date-time

    MailboxLeaseListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MailboxLease'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    AdminMailboxAccount:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        address:
          type: string
        domain:
          type: string
        backend_status:
          type: string
        mailbox_type:
          type: string
        tenant_id:
          type: string
          format: uuid
        active_lease_id:
          type: string
          format: uuid
        last_password_reset_at:
          type: string
          format: date-time

    AdminMailboxAccountDetail:
      allOf:
        - $ref: '#/components/schemas/AdminMailboxAccount'
        - type: object
          properties:
            backend_ref:
              type: string
            recent_events:
              type: array
              items:
                $ref: '#/components/schemas/EntityEvent'

    AdminMailboxAccountListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdminMailboxAccount'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    AdminMessage:
      type: object
      properties:
        message_id:
          type: string
          format: uuid
        mailbox_account_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        from_address:
          type: string
        subject:
          type: string
        received_at:
          type: string
          format: date-time
        message_status:
          type: string
        parse_status:
          type: string

    AdminMessageDetail:
      allOf:
        - $ref: '#/components/schemas/AdminMessage'
        - type: object
          properties:
            raw_message_id:
              type: string
              format: uuid
            parse_results:
              type: array
              items:
                $ref: '#/components/schemas/EntityEvent'

    AdminMessageListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AdminMessage'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    SendAttempt:
      type: object
      properties:
        send_attempt_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        mailbox_account_id:
          type: string
          format: uuid
        from_address:
          type: string
        subject:
          type: string
        submission_status:
          type: string
        backend_queue_id:
          type: string
        submitted_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    SendAttemptDetail:
      allOf:
        - $ref: '#/components/schemas/SendAttempt'
        - type: object
          properties:
            events:
              type: array
              items:
                $ref: '#/components/schemas/EntityEvent'

    SendAttemptListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SendAttempt'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    Webhook:
      type: object
      properties:
        webhook_id:
          type: string
          format: uuid
        target_url:
          type: string
        event_types:
          type: array
          items:
            type: string
        status:
          type: string
        last_delivery_at:
          type: string
          format: date-time
        last_status_code:
          type: integer

    WebhookListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Webhook'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    WebhookDelivery:
      type: object
      properties:
        delivery_id:
          type: string
          format: uuid
        event_type:
          type: string
        resource_id:
          type: string
        attempt_number:
          type: integer
        delivery_status:
          type: string
        response_code:
          type: integer
        delivered_at:
          type: string
          format: date-time

    WebhookDeliveryListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WebhookDelivery'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    Invoice:
      type: object
      properties:
        invoice_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        period_start:
          type: string
          format: date
        period_end:
          type: string
          format: date
        amount_usdc:
          type: number
        status:
          type: string
        issued_at:
          type: string
          format: date-time

    InvoiceListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Invoice'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    RiskPolicyUpsert:
      type: object
      required: [policy_type, value, action]
      properties:
        policy_type:
          type: string
        value:
          type: string
        action:
          type: string

    RiskPolicy:
      type: object
      properties:
        policy_type:
          type: string
        value:
          type: string
        action:
          type: string
        updated_at:
          type: string
          format: date-time

    RiskEvent:
      type: object
      properties:
        risk_event_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        severity:
          type: string
        type:
          type: string
        detail:
          type: string
        occurred_at:
          type: string
          format: date-time

    RiskEventListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/RiskEvent'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    AuditLog:
      type: object
      properties:
        audit_log_id:
          type: string
          format: uuid
        tenant_id:
          type: string
          format: uuid
        actor_did:
          type: string
        action:
          type: string
        resource_type:
          type: string
        resource_id:
          type: string
        request_id:
          type: string
        created_at:
          type: string
          format: date-time

    AuditLogListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AuditLog'
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer

    JobAccepted:
      type: object
      properties:
        status:
          type: string
          example: accepted
        job_id:
          type: string
        queue:
          type: string

    Job:
      type: object
      properties:
        job_id:
          type: string
        queue:
          type: string
        status:
          type: string
        attempts_made:
          type: integer
        created_at:
          type: string
          format: date-time

    JobListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Job'

    EntityEvent:
      type: object
      properties:
        event_type:
          type: string
        payload:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
